@charset "UTF-8";
/*---------------------------- font -------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;700&family=Roboto:wght@400;700&display=swap");
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "M PLUS 1", sans-serif;
  font-weight: 400;
  color: #3c2a10;
  background-color: #fffdfa;
}
body.is-active {
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
  text-decoration: none;
}

img {
  height: auto;
  box-sizing: border-box;
  width: 100%;
}

li {
  list-style: none;
}

/*---------------------------- screen ---------------------------------*/
/*----------------------------- color ----------------------------------*/
.l-header {
  background-color: #fff7ef;
  position: relative;
}
@media only screen and (min-width: 1079px) {
  .l-header {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.l-header__logo {
  padding-top: 40px;
}
@media only screen and (min-width: 1079px) {
  .l-header__logo {
    padding-top: 0;
    padding-left: 61px;
  }
}
@media only screen and (min-width: 1079px) {
  .l-header__flex {
    height: 218px;
  }
}

.l-footer {
  background: url(./../img/footer-img.png);
  background-position: center;
}
.l-footer__content {
  padding: 10.6666666667vw 0 8vw 0;
}
@media only screen and (min-width: 768px) {
  .l-footer__content {
    padding: 4.7961630695vw 0 3.5971223022vw 0;
  }
}
@media only screen and (min-width: 1079px) {
  .l-footer__content {
    padding: 2.0833333333vw 0 1.5625vw 0;
  }
}
.l-footer__content ul {
  margin-bottom: 34px;
}
.l-footer__content ul li {
  padding-right: 15px;
  border-right: 1px solid #fff;
  font-size: 20px;
}
.l-footer__content ul li:last-child {
  padding-right: 0;
  padding-left: 15px;
  border-right: none;
}
.l-footer__content p {
  font-size: 14px;
}

.l-sideMenu {
  background-color: #f2ede9;
  position: fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 87.4666666667vw;
  height: 100vh;
  transition: all 0.6s;
}
@media only screen and (min-width: 768px) {
  .l-sideMenu {
    width: 46.4028776978vw;
  }
}
@media only screen and (min-width: 1079px) {
  .l-sideMenu {
    position: static;
    z-index: 0;
    grid-row: 1/3;
    grid-column: 2/3;
    display: block;
    width: 100%;
    height: 100%;
    color: #707070;
    transition: none;
  }
}
.l-sideMenu__list {
  padding-top: 178px;
  padding-left: 46px;
}
@media only screen and (min-width: 1079px) {
  .l-sideMenu__list {
    padding-top: 85px;
    padding-left: 46px;
    width: 100%;
  }
}
.l-sideMenu__list > li {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 34px;
}
.l-sideMenu__list ul {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .l-sideMenu__list ul {
    font-size: 34px;
  }
}
.l-sideMenu__list ul:last-child {
  padding-bottom: 0;
}
.l-sideMenu__list ul a {
  display: inline-block;
}
.l-sideMenu__list ul li {
  font-size: 20px;
  padding-bottom: 23px;
  padding-left: 20px;
}
.l-sideMenu.is-active {
  right: 0%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.l-sideMenu__layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.l-sideMenu__layer.is-active {
  display: block;
  z-index: 500;
}
.l-sideMenu__menu {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .l-sideMenu__menu {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1079px) {
  .l-main {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

@media only screen and (min-width: 1079px) {
  .l-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 20.15625vw;
  }
}

.c-button__search {
  background: rgb(242, 237, 233);
  background: linear-gradient(90deg, rgb(242, 237, 233) 0%, rgb(222, 216, 211) 100%);
  border-radius: 10px;
  border: 1px solid #707070;
}
.c-button__detail {
  display: inline-block;
  background: #fff;
  color: #707070;
}

.c-icon--musimegane {
  background: url(../../../img/musimegane.png) no-repeat 16px center;
}

.c-input--search {
  padding: 4px;
  border: 1px solid #707070;
  background-color: #fff;
  border-radius: 10px;
}

.c-underBar {
  content: "";
  background-color: #fff;
  display: inline-block;
}

.c-menu {
  position: absolute;
  z-index: 9999; /*ボタンを最前面に*/
  top: 14px;
  right: 16px;
  cursor: pointer;
  color: #707070;
}
@media only screen and (min-width: 1079px) {
  .c-menu {
    display: none;
  }
}
.c-menu span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  right: 0;
}

.c-menu.is-active span:nth-of-type(1) {
  background-color: #707070;
  height: 6px;
  transform: translateY(6px) rotate(-45deg);
  width: 45px;
  top: 13px;
  right: 10px;
}
.c-menu.is-active span:nth-of-type(2) {
  opacity: 0;
}
.c-menu.is-active span:nth-of-type(3) {
  transform: translateY(-6px) rotate(45deg);
  width: 45px;
  height: 6px;
  background-color: #707070;
  top: 25px;
  right: 10px;
}

.c-flex {
  display: flex;
}
.c-flex--under {
  display: flex;
  flex-direction: column;
}
.c-flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .c-flex--tb {
    display: flex;
  }
}
@media only screen and (min-width: 1079px) {
  .c-flex--pc {
    display: flex;
  }
}
@media only screen and (min-width: 1079px) {
  .c-flex--pcBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.c-center {
  text-align: center;
}
.c-center__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.c-color--Gray {
  color: #707070;
}
.c-color--White {
  color: #fff;
}

.c-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.c-logo h1 {
  font-size: 40px;
}
@media only screen and (min-width: 1079px) {
  .c-logo h1 {
    font-size: 64px;
  }
}

.p-fv__content {
  position: relative;
}
.p-fv__content img {
  height: 61.3333333333vw;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .p-fv__content img {
    height: 27.5779376499vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-fv__content img {
    height: 27.6041666667vw;
  }
}
.p-fv__topTitle {
  z-index: 15;
  padding-left: 25px;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .p-fv__topTitle {
    display: none;
  }
}
@media only screen and (min-width: 1079px) {
  .p-fv__topTitle {
    display: block;
  }
}
.p-fv__topTitle h2 {
  font-size: 36px;
}
@media only screen and (min-width: 1079px) {
  .p-fv__topTitle h2 {
    font-size: 40px;
  }
}
.p-fv__subTitle {
  z-index: 15;
  padding-left: 25px;
  position: absolute;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .p-fv__subTitle {
    padding-left: 86px;
  }
}
.p-fv__subTitle h2 {
  font-size: 36px;
}
@media only screen and (min-width: 768px) {
  .p-fv__subTitle h2 {
    font-size: 60px;
  }
}
.p-fv__subTitle p {
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .p-fv__subTitle p {
    margin-left: 20px;
  }
}

.p-search {
  height: 100%;
  padding: 10.1333333333vw 0px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .p-search {
    padding: 4.5563549161vw 0px;
  }
}
@media only screen and (min-width: 1079px) {
  .p-search {
    margin: 0 31px 0 0;
  }
}
.p-search__input {
  padding: 11px 0;
  padding-left: 50px;
  padding-right: 10px;
  width: 61.3333333333vw;
  height: 46px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .p-search__input {
    width: 47.4820143885vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-search__input {
    width: 20.625vw;
  }
}
.p-search__button {
  margin-left: 12px;
  padding: 12px 6.1333333333vw;
  font-weight: 700;
  font-size: 16px;
  height: 46px;
}
@media only screen and (min-width: 768px) {
  .p-search__button {
    padding: 12px 6.2350119904vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-search__button {
    padding: 12px 2.7083333333vw;
  }
}

.p-topMenu {
  background-color: #fff;
}
.p-topMenu__content {
  min-height: 642px;
  margin: 5.3333333333vw;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (min-width: 768px) {
  .p-topMenu__content {
    width: 50%;
    margin: 4.7961630695vw 2.3980815348vw 4.7961630695vw 4.7961630695vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-topMenu__content {
    margin: 6.25vw 2.0833333333vw 6.9791666667vw 5.78125vw;
    height: 1193px;
  }
}
@media only screen and (min-width: 768px) {
  .p-topMenu__content:last-child {
    width: 50%;
    margin: 4.7961630695vw 4.7961630695vw 4.7961630695vw 2.3980815348vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-topMenu__content:last-child {
    margin: 6.25vw 5.78125vw 6.9791666667vw 2.0833333333vw;
  }
}
.p-topMenu__title {
  font-size: 41px;
}
@media only screen and (min-width: 768px) {
  .p-topMenu__title {
    font-size: 44px;
  }
}
@media only screen and (min-width: 1079px) {
  .p-topMenu__title {
    font-size: 80px;
  }
}
.p-topMenu__under {
  margin-top: auto;
}
.p-topMenu__bar {
  height: 4px;
  width: 9.6vw;
}
@media only screen and (min-width: 768px) {
  .p-topMenu__bar {
    width: 4.3165467626vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-topMenu__bar {
    width: 3.28125vw;
  }
}
.p-topMenu__text {
  background-color: #fff;
  opacity: 0.8;
  padding-top: 1.8666666667vw !important;
  padding: 4vw;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .p-topMenu__text {
    padding-top: 0.8393285372vw !important;
    padding: 1.7985611511vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-topMenu__text {
    padding-top: 0.625vw !important;
    padding: 1.0416666667vw;
  }
}
.p-topMenu__text:last-child {
  margin-bottom: 0;
}
.p-topMenu__text h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-topMenu__text h4 {
    font-size: 24px;
    margin-bottom: 0.5995203837vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-topMenu__text h4 {
    margin-bottom: 0.46875vw;
  }
}
.p-topMenu__text p {
  font-size: 16px;
  line-height: 23px;
}
@media only screen and (min-width: 768px) {
  .p-topMenu__text p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1079px) {
  .p-topMenu__text p {
    font-size: 16px;
    line-height: 23px;
  }
}
.p-topMenu__takeOut {
  background: url(./../img/front-page.takeout.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.p-topMenu__eatIn {
  background: url(./../img/front-page.eatin.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.p-map {
  background: url(./../img/front-page.map1.png);
  background-position: center;
  background-color: #646464;
  background-blend-mode: soft-light;
}
@media only screen and (min-width: 1079px) {
  .p-map {
    min-height: 649px;
  }
}
.p-map__opacity {
  background-color: #000000;
  opacity: 0.6;
}
.p-map__bar {
  width: 75px;
  height: 4px;
  margin: 20px 0;
}
@media only screen and (min-width: 1079px) {
  .p-map__bar {
    margin: 63.5px 0;
  }
}
.p-map__backGraund {
  position: relative;
}
@media only screen and (min-width: 1079px) {
  .p-map__backGraund {
    min-height: 649px;
    width: 49.4791666667vw;
  }
}
.p-map__text {
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (min-width: 1079px) {
  .p-map__text {
    height: 100%;
  }
}
.p-map__text h4 {
  font-size: 30px;
  font-weight: 700;
}
@media only screen and (min-width: 1079px) {
  .p-map__text h4 {
    font-size: 35px;
  }
}
.p-map__text p {
  font-size: 14px;
  line-height: 33px;
}
@media only screen and (min-width: 1079px) {
  .p-map__text p {
    font-size: 16px;
  }
}

.p-back.is-active {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.p-archive h2 {
  font-size: 28px;
  font-weight: 700;
  padding: 8vw 0;
}
@media only screen and (min-width: 768px) {
  .p-archive h2 {
    font-size: 38px;
    padding: 4.3165467626vw 0 2.9976019185vw 0;
  }
}
@media only screen and (min-width: 1079px) {
  .p-archive h2 {
    padding: 1.875vw 0 1.3020833333vw 0;
  }
}
.p-archive p {
  padding-bottom: 4.5333333333vw;
  font-size: 16px;
  line-height: 23px;
}
@media only screen and (min-width: 768px) {
  .p-archive p {
    padding-bottom: 4.4364508393vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-archive p {
    padding-bottom: 1.9270833333vw;
  }
}
.p-archive__fv {
  position: relative;
}
@media only screen and (min-width: 1079px) {
  .p-archive__fv img {
    height: 12.4479166667vw;
  }
}
.p-archive__fv::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 1079px) {
  .p-archive__fv::after {
    height: 12.4479166667vw;
  }
}

.p-archiveItem {
  background-color: #fffdfa;
  height: auto;
}
.p-archiveItem li {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1079px) {
  .p-archiveItem li {
    margin-bottom: 30px;
  }
}
.p-archiveItem__img img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .p-archiveItem__img {
    width: 50%;
  }
}
.p-archiveItem__text {
  background-color: #3c2b1c;
  padding: 4.5333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-archiveItem__text {
    padding: 3.5971223022vw 4.0767386091vw;
    width: 50%;
  }
}
@media only screen and (min-width: 1079px) {
  .p-archiveItem__text {
    padding: 2.6041666667vw 3.125vw;
  }
}
.p-archiveItem__text h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 4vw 0 5.6vw 0;
}
@media only screen and (min-width: 768px) {
  .p-archiveItem__text h3 {
    padding: 0;
    padding-bottom: 2.8776978417vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-archiveItem__text h3 {
    font-size: 36px;
    padding-bottom: 2.4479166667vw;
  }
}
.p-archiveItem__text h4 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 2.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-archiveItem__text h4 {
    padding-bottom: 1.1990407674vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-archiveItem__text h4 {
    padding-bottom: 0.8854166667vw;
    font-size: 24px;
  }
}
.p-archiveItem__text p {
  font-size: 16px;
}
.p-archiveItem__button {
  margin: 40px 0;
  padding: 2.6666666667vw 11.2vw;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  border-radius: 20vw;
}
@media only screen and (min-width: 768px) {
  .p-archiveItem__button {
    margin: 45px 0 40px 0;
  }
}
@media only screen and (min-width: 1079px) {
  .p-archiveItem__button {
    margin: 3.125vw 0;
    padding: 1.40625vw 5.5208333333vw;
  }
}

.p-pagination {
  width: 100%;
  margin-top: 16vw;
  margin-bottom: 8vw;
}
.p-pagination .wp-pagenavi {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .p-pagination .wp-pagenavi {
    justify-content: center;
    align-items: center;
  }
}
.p-pagination .pages {
  display: none;
}
@media only screen and (min-width: 768px) {
  .p-pagination .pages {
    display: block;
    margin-right: 13px;
    font-weight: bold;
  }
  .p-pagination .pages::before {
    content: "page";
  }
}
.p-pagination .current {
  display: none;
}
@media only screen and (min-width: 768px) {
  .p-pagination .current {
    display: block;
    color: #fff;
    padding: 7px 13px;
    background-color: #3c2b1c;
    border: 1px solid #707070;
    margin-left: 15px;
  }
}
.p-pagination .page {
  display: none;
}
@media only screen and (min-width: 768px) {
  .p-pagination .page {
    display: block;
    padding: 7px 13px;
    background-color: #fff;
    border: 1px solid #707070;
    margin-left: 15px;
  }
}
.p-pagination .previouspostslink {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.p-pagination .previouspostslink::after {
  content: "前へ";
}
@media only screen and (min-width: 768px) {
  .p-pagination .previouspostslink::after {
    display: none;
  }
}
.p-pagination .previouspostslink::before {
  content: url(./../../../img/previouspostslink.png);
  padding-right: 7px;
}
@media only screen and (min-width: 768px) {
  .p-pagination .previouspostslink::before {
    padding-right: 2px;
  }
}
.p-pagination .nextpostslink {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.p-pagination .nextpostslink::before {
  content: "次へ";
}
@media only screen and (min-width: 768px) {
  .p-pagination .nextpostslink::before {
    display: none;
  }
}
.p-pagination .nextpostslink::after {
  content: url(./../../../img/nextpostslink.png);
  padding-left: 7px;
}
@media only screen and (min-width: 768px) {
  .p-pagination .nextpostslink::after {
    padding-left: 17px;
  }
}

.p-single__text {
  display: block;
}
.p-single__fv {
  position: relative;
}
.p-single__fv img {
  height: 60vw;
}
@media only screen and (min-width: 768px) {
  .p-single__fv img {
    height: 59.9520383693vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-single__fv img {
    height: 26.0416666667vw;
  }
}

.p-textAria__archive {
  margin-top: 8vw;
}
@media only screen and (min-width: 768px) {
  .p-textAria__archive {
    margin-top: 7.1942446043vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-textAria__archive {
    margin-top: 3.125vw;
  }
}
.p-textAria__archive > * {
  margin-bottom: 8vw;
}
@media only screen and (min-width: 768px) {
  .p-textAria__archive > * {
    margin-bottom: 7.1942446043vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-textAria__archive > * {
    margin-bottom: 3.125vw;
  }
}
.p-textAria__archive h2 {
  font-size: 28px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .p-textAria__archive h2 {
    font-size: 38px;
  }
}
.p-textAria__archive h3 {
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .p-textAria__archive h3 {
    font-size: 28px;
  }
}
.p-textAria__archive h4,
.p-textAria__archive h5,
.p-textAria__archive h6 {
  font-size: 20px;
  font-weight: 700;
}
.p-textAria__archive p {
  font-size: 16px;
  line-height: 23px;
}
.p-textAria__archive blockquote {
  background-color: #f5f5f5;
  color: #3c2a10;
  padding: 30px 20px;
}
.p-textAria__archive blockquote p {
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 23px;
}
.p-textAria__archive blockquote cite::before {
  content: "出典元: ";
  color: #3c2a10;
}
.p-textAria__archive blockquote cite {
  font-style: normal;
}
.p-textAria__archive blockquote cite a {
  color: #4a6c9b;
  display: inline-block;
  text-decoration: underline;
}
.p-textAria__archive ol li {
  margin-left: 26px;
  list-style-type: decimal;
}
.p-textAria__archive ol li ul {
  margin-top: 20px;
}
.p-textAria__archive ul li ul {
  margin-top: 20px;
  margin-left: 26px;
}
.p-textAria__archive pre {
  background-color: #f5f5f5;
}
.p-textAria__archive table {
  width: 100%;
}
.p-textAria__archive table tbody tr td {
  border: 1px solid #000000;
  padding: 28px;
}
.p-textAria__archive table tbody tr td:first-child {
  width: 36vw;
}
@media only screen and (min-width: 768px) {
  .p-textAria__archive table tbody tr td:first-child {
    width: 25.7793764988vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-textAria__archive table tbody tr td:first-child {
    width: 22.34375vw;
  }
}
.p-textAria__archive .wp-block-button {
  text-align: center;
}
.p-textAria__archive .wp-block-button a {
  background: rgb(242, 237, 233);
  background: linear-gradient(90deg, rgb(242, 237, 233) 0%, rgb(222, 216, 211) 100%);
  border-radius: 20px;
  border: 1px solid #707070;
  padding: 30px 0;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .p-textAria__archive .wp-block-button {
    width: 51.4388489209vw;
  }
}
@media only screen and (min-width: 1079px) {
  .p-textAria__archive .wp-block-button {
    width: 22.34375vw;
  }
}
.p-textAria__archive .strong {
  font-weight: 700;
}

.u-font--30b {
  font-size: 30px;
  font-weight: 700;
}
@media only screen and (min-width: 1079px) {
  .u-font--30b {
    font-size: 35px;
  }
}
.u-font--24b {
  font-size: 24px;
  font-weight: 700;
}
.u-font--22b {
  font-size: 22px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .u-font--22b {
    font-size: 24px;
  }
}
.u-font--14b {
  font-size: 14px;
  line-height: 33px;
}
@media only screen and (min-width: 1079px) {
  .u-font--14b {
    font-size: 16px;
  }
}
.u-font--20 {
  font-size: 20px;
}
.u-font--16 {
  font-size: 16px;
  line-height: 23px;
}
@media only screen and (min-width: 768px) {
  .u-font--16 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1079px) {
  .u-font--16 {
    font-size: 16px;
    line-height: 23px;
  }
}
.u-font--roboto, .u-font--roboto__20, .u-font--roboto__34, .u-font--roboto__36, .u-font--roboto__40, .u-font--roboto__41 {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.u-font--roboto__41 {
  font-size: 41px;
}
@media only screen and (min-width: 768px) {
  .u-font--roboto__41 {
    font-size: 44px;
  }
}
@media only screen and (min-width: 1079px) {
  .u-font--roboto__41 {
    font-size: 80px;
  }
}
.u-font--roboto__36 {
  font-size: 36px;
}
@media only screen and (min-width: 1079px) {
  .u-font--roboto__36 {
    font-size: 40px;
  }
}
.u-font--roboto__34 {
  font-size: 34px;
}
.u-font--roboto__20 {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .u-font--roboto__20 {
    font-size: 34px;
  }
}

.u-inner--topMenu {
  padding: 11px 15px 15px 15px;
}
@media only screen and (min-width: 1079px) {
  .u-inner--topMenu {
    padding: 24px 25px 25px 25px;
  }
}
.u-inner--40 {
  padding: 40px;
}
@media only screen and (min-width: 1079px) {
  .u-inner--40 {
    padding: 83px 134px 40px 119px;
  }
}
.u-inner--20 {
  padding: 0 5.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .u-inner--20 {
    padding: 0 4.6762589928vw;
  }
}
@media only screen and (min-width: 1079px) {
  .u-inner--20 {
    padding: 0 5.2083333333vw;
  }
}
.u-inner--17x {
  padding: 0 17px;
}
@media only screen and (min-width: 768px) {
  .u-inner--17x {
    padding: 0 59px 0 34.7px;
  }
}
@media only screen and (min-width: 1079px) {
  .u-inner--17x {
    padding: 0 104px 0 63px;
  }
}

.u-opacity--60 {
  opacity: 0.6;
}
.u-opacity--20 {
  opacity: 0.2;
}

.u-padding__37 {
  padding-bottom: 37px;
}

.u-backBlack__60 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
}
@media only screen and (min-width: 768px) {
  .u-backBlack__60 {
    background: rgba(0, 0, 0, 0.4);
  }
}
@media only screen and (min-width: 1079px) {
  .u-backBlack__60 {
    background: rgba(0, 0, 0, 0.4);
  }
}

.u-backBlack__20 {
  background: rgba(0, 0, 0, 0.29);
}

/*--------------------------------------*
* foundation
*--------------------------------------*/
/*--------------------------------------*
* layout
*--------------------------------------*/
/*--------------------------------------*
* object
*--------------------------------------*/
/*-------------------
* component
-------------------*/
/*-------------------
* project
-------------------*/
/*-------------------
* utility
-------------------*//*# sourceMappingURL=style.css.map */