@use "./../../foundation/variable" as *;

.p-pagination {
  display: none;
  @include tb {
    display: block;
    width: 100%;
    margin-top: tbWidth(60);
    margin-bottom: tbWidth(30);
  }
  @include pc {
    margin-top: pcWidth(150);
    margin-bottom: pcWidth(65);
  }
  .wp-pagenavi {
    display: flex;
    justify-content: space-between;
    @include tb {
      justify-content: center;
      align-items: center;
    }
  }
  .pages {
    display: none;
    @include tb {
      display: block;
      margin-right: 13px;
      font-weight: bold;
      &::before {
        content: "page";
      }
    }
  }
  .current {
    display: none;
    @include tb {
      display: block;
      color: $White;
      padding: 7px 13px;
      background-color: $Brown;
      border: 1px solid $Gray;
      margin-left: 15px;
    }
  }
  .page {
    display: none;
    @include tb {
      display: block;
      padding: 7px 13px;
      background-color: $White;
      border: 1px solid $Gray;
      margin-left: 15px;
    }
  }
  .previouspostslink {
    display: flex;
    align-items: center;
    font-size: 16px;
    &::after {
      content: "前へ";
      @include tb {
        display: none;
      }
    }
    &::before {
      content: url(./../img/previouspostslink.png);
      padding-right: 7px;
      @include tb {
        padding-right: 2px;
      }
    }
  }
  .nextpostslink {
    display: flex;
    align-items: center;
    font-size: 16px;
    &::before {
      content: "次へ";
      @include tb {
        display: none;
      }
    }
    &::after {
      content: url(./../img/nextpostslink.png);
      padding-left: 7px;
      @include tb {
        padding-left: 17px;
      }
    }
  }
  &__sp {
    width: 100%;
    padding: spWidth(60) spWidth(20) spWidth(30) spWidth(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tb {
      display: none;
    }
    p {
      display: flex;
      font-size: 16px;
      color: $Gray;
      &:nth-of-type(1) {
        position: relative;
        left: 25px;
        &::before {
          content: url(./../img/previouspostslink.png);
          padding-right: 7px;
        }
      }
      &:nth-of-type(2) {
        position: relative;
        right: 25px;
        &::after {
          content: url(./../img/nextpostslink.png);
          padding-left: 7px;
        }
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
