@use "./../../foundation/variable" as *;

.p-search {
  height: 100%;
  padding: spWidth(38) 0px;
  margin: 0 auto;
  @include tb {
    padding: tbWidth(38) 0px;
  }
  @include pc {
    margin: 0 31px 0 0;
  }
  &__input {
    padding: 11px 0;
    width: spWidth(230);
    height: 46px;
    @include pc {
      width: pcWidth(396);
    }
  }
  &__button {
    margin-left: 12px;
    padding: 12px spWidth(23);
    font-weight: 700;
    font-size: 16px;
    height: 46px;
    @include tb {
      padding: 12px tbWidth(52);
    }
    @include pc {
      padding: 12px pcWidth(52);
    }
  }
}
