@use "./../../foundation/variable" as *;

.p-textAria {
  padding: spWidth(30) spWidth(20) spWidth(19) spWidth(20);
  @include tb {
    padding: 0 tbWidth(39);
    padding-top: tbWidth(36);
    padding-bottom: tbWidth(37);
  }
  @include pc {
    padding: 0 pcWidth(100);
    padding-top: tbWidth(36);
    padding-bottom: tbWidth(37);
  }
  h2 {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: spWidth(30);
    @include tb {
      padding-bottom: tbWidth(30);
      font-size: 38px;
    }
    @include pc {
      padding-bottom: pcWidth(30);
    }
  }
  p {
    font-size: 16px;
    line-height: 23px;
  }
  &__archive {
    margin-top: spWidth(30);
    margin-bottom: spWidth(150);
    @include tb {
      margin-top: tbWidth(60);
      margin-bottom: tbWidth(150);
    }
    @include pc {
      margin-top: pcWidth(60);
      margin-bottom: pcWidth(190);
    }
    & > * {
      margin-bottom: spWidth(30);
      @include tb {
        margin-bottom: tbWidth(60);
      }
      @include pc {
        margin-bottom: pcWidth(60);
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 700;
      @include tb {
        font-size: 38px;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      @include tb {
        font-size: 28px;
      }
    }

    h4,
    h5,
    h6 {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      line-height: 23px;
    }

    blockquote {
      background-color: $rightBlue;
      color: #3c2a10;
      padding: 30px 20px;
      p {
        font-size: 16px;
        padding-bottom: 30px;
        line-height: 23px;
      }
      cite::before {
        content: "出典元: ";
        color: #3c2a10;
      }
      cite {
        font-style: normal;
        a {
          color: $Blue;
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
    .wp-block-gallery {
      figure {
        flex-grow: 0 !important;
        width: 100% !important;
        @include tb {
          width: 49% !important;
        }
        @include pc {
          width: 32% !important;
        }
      }
    }

    ol {
      li {
        margin-left: 26px;
        list-style-type: decimal;
        ul {
          margin-top: 20px;
        }
      }
    }
    ul {
      li {
        ul {
          margin-top: 20px;
          margin-left: 26px;
          margin-bottom: 20px;
        }
      }
    }

    pre {
      background-color: $rightBlue;
      padding-left: spWidth(50);
      @include tb {
        padding-left: tbWidth(50);
      }
      @include pc {
        padding-left: pcWidth(50);
      }
    }
    table {
      width: 100%;
      tbody {
        tr {
          td {
            border: 1px solid $Black;
            padding: 28px;
          }
          td:first-child {
            width: spWidth(135);
            @include tb {
              width: tbWidth(215);
            }
            @include pc {
              width: pcWidth(429);
            }
          }
        }
      }
    }
    .wp-block-button {
      a {
        color: $Brown;
        background: rgb(242, 237, 233);
        background: linear-gradient(
          90deg,
          rgba(242, 237, 233, 1) 0%,
          rgba(222, 216, 211, 1) 100%
        );
        border-radius: 20px;
        border: 1px solid $Gray;
        padding: 30px 0;
        font-weight: 700;
        width: 100%;
        @include tb {
          width: tbWidth(429) !important;
        }
        @include pc {
          width: pcWidth(429) !important;
        }
      }
    }
    .strong {
      font-weight: 700;
    }
  }
}
